<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>诗途重构</title>
		<!-- header&nav -->
		<link rel="stylesheet" href="stylesheets/reset.css" />
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
		<link rel="stylesheet" href="stylesheets/head.css" />
		<!-- map -->
		<link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/themes/light/main.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/map.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/footer.css" />
	</head>
	<body>
		<!-- /* 导航 */ -->
		<header class="header">
			<div class="container clearfix">
				<div class="fl left">
					<a href="javascript:void(0)"><img src="images/logo.png" alt="" class="img1" /></a>
					<a href="javascript:void(0)"><img src="images/logo2.jpg" alt="" class="img2" /></a>
				</div>
				<div class="fr nav">
					<ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
						<li class="active">
							<a href="javascript:void(0)">首页</a>
						</li>

						<li class="dropdown">
							<a href="javascript:void(0)">十大景点</a>
						</li>

						<li class="dropdown">
							<a href="javascript:void(0)">诗人路线</a>
							<div class="dropdown_menu">
								<a href="#">白居易</a>
								<a href="#">杜甫</a>
								<a href="#">李白</a>
								<a href="#">李贺</a>
								<a href="#">苏轼</a>
								<a href="#">王维</a>
							</div>
						</li>

						<li class="active">
							<a href="javascript:void(0)">联系我们</a>
						</li>
					</ul>
				</div>
				<a href="javascript:void(0)" id="navToggle">
					<span></span>
				</a>
			</div>
		</header>
		<!--移动端的导航-->
		<div class="m_nav">
			<div class="top clearfix">
				<img src="images/closed.png" alt="" class="closed" />
			</div>
			<div class="logo">
				<img src="images/logo2.jpg" alt="" />
			</div>
			<ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
				<li class="active">
					<a href="javascript:void(0)">首页</a>
				</li>
				<li class="dropdown">
					<a href="javascript:void(0)">十大景点</a>
				</li>
				<li class="dropdown">
					<a href="javascript:void(0)">诗人路线</a>
					<div class="dropdown_menu">
						<a href="#">白居易</a>
						<a href="#">杜甫</a>
						<a href="#">李白</a>
						<a href="#">李贺</a>
						<a href="#">苏轼</a>
						<a href="#">王维</a>
					</div>
				</li>
				<li class="dropdown">
					<a href="javascript:void(0)">联系我们</a>
				</li>
			</ul>
		</div>
		<!-- 地图框 -->
		<div id="mapDiv">
		</div>
		<!-- 左侧筛选框 -->
		<div id="dynasty-filter" class="esri-widget">
			<div class="dynasty-item visible-dynasty" data-dynasty="先秦">先秦</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="两汉">两汉</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="魏晋">魏晋</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="南北朝">南北朝</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="隋代">隋代</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="唐代">唐代</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="五代">五代</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="宋代">宋代</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="金朝">金朝</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="元代">元代</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="明代">明代</div>
			<div class="dynasty-item visible-dynasty" data-dynasty="清代">清代</div>
		</div>
		<div id="grade-filter" class="esri-widget">
			<div class="grade-item visible-grade" data-grade="初一">初一</div>
			<div class="grade-item visible-grade" data-grade="初二">初二</div>
			<div class="grade-item visible-grade" data-grade="初三">初三</div>
			<div class="grade-item visible-grade" data-grade="高一">高一</div>
			<div class="grade-item visible-grade" data-grade="高二">高二</div>
			<div class="grade-item visible-grade" data-grade="高三">高三</div>
		</div>
		<!-- 标题 -->
		<div id="titleDiv" class="esri-widget">
			<div id="titleText">各朝代诗词点部分汇总</div>
			<div id="dynastyTime">先秦—清代(公元前221年—1912年)</div>
			<div id="note">【相关疆域边界请以国家有关规定为准，本网站仅做参考】</div>
		</div>

	</body>

	<footer class="footer">

		<p>Copyright © 2019. Poemtrip <a href="http://www.beian.miit.gov.cn/" target="_blank">鄂ICP备19031536号-1</a>
		</p>

		<a href="javascript:void(0)" id="navToggle">
			<span></span>
		</a>
		</div>
	</footer>


	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
	<script src="javascripts/swiper.min.js"></script>
	<script src="https://js.arcgis.com/4.11/"></script>
	<script type="text/javascript" src="javascripts/map.js"></script>
	<script>
		$(function() {
			//移动端展开nav
			$('#navToggle').on('click', function() {
				$('.m_nav').addClass('open');
			})
			//关闭nav
			$('.m_nav .top .closed').on('click', function() {
				$('.m_nav').removeClass('open');
			})
			//二级导航  移动端
			$(".m_nav .ul li").click(function() {
				$(this).children("div.dropdown_menu").slideToggle('slow')
				$(this).siblings('li').children('.dropdown_menu').slideUp('slow');
			});
		})
	</script>
</html>
